@import 'config';
@import 'header';
@import 'main';
@import 'footer';
@import 'tooltipster-noir';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Monda', sans-serif;
    font-size: 16px;
}